[DEFAULT]
StartTime=00:00:01
EndTime=00:00:00
CheckLatency=N
ConnectionType=acceptor
HeartBtInt=10
LogoutTimeout=8
FileStorePath=prod-logs/store/
FileLogPath=prod-logs/log/
FileStoreSync=N
ScreenLogEvents=Y
ScreenLogShowIncoming=Y
ScreenLogShowOutgoing=Y
ScreenLogShowHeartBeats=N

[SESSION]
BeginString=FIX.4.2
SenderCompID=NYFIXSQFD
TargetCompID=SQFUND
SocketAcceptPort=9878
#ResetOnLogon=Y
SocketUseSSL=N
SocketKeyStore=
SocketKeyStorePassword=